################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/code/v17
# Bỏ qua thư mục chứa file chạy (.exe) và file tạm khi build
x64/
x86/
Debug/
Release/
build/
bin/
obj/

# Bỏ qua các file cấu hình người dùng (User-specific)
*.user
*.suo
*.userosscache
*.sln.docstates

# Bỏ qua các file rác khác
*.pdb
*.ipch
*.aps
*.tlog
*.log
*.idb
